body {
  background-color: black;
  color: #0F0;
  font-family: 'Consolas', monospace;
}


.result-table {
  border: 1px dashed #0F0;
  border-collapse: collapse;
  width: 100%;
}

.result-table__table-data {
  border: 1px dashed #0F0;
  padding: 5px;
}

.session-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  border: 1px dashed #0F0;
  padding: 5px;
}

.session-container__session-items {
  display: block;
}

.tooltip {
  display: none;
}

.result-time {
  color: red;
  position: relative;
}

.result-time:hover .tooltip  {
  border: 1px dashed #0F0;
  z-index: 1001;
  position: absolute;
  display: inline;
  background-color: black;
  padding: 5px;
  min-width: 100%;
  min-height: 100%;
}

.chart-container {
  width: 100%;
  height: 400px;
}