body {
  background-color: black;
  color: #0F0;
  font-family: 'Consolas', monospace;
}


table, td, th {
  border: 1px dashed #0F0;
  border-collapse: collapse;
  padding: 5px;
}

.session-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  border: 1px dashed #0F0;
  padding: 5px;
}

.session-container__session-items {
  display: block;
}

