@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic');

a {
  color: inherit;
}

.home-screen{
  font-family: 'Russo One', sans-serif;
  overflow: auto;
  margin: auto;
  padding: 10px;
  max-width: 1200px;
  font-size: 25px;
}

.home-screen__header-1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.home-screen__header-2 {  
  margin: 15px;
}

.home-screen__section {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 95%;
  outline-offset: 5px;
}

.section-text{
  margin: 10px;
  align-self: flex-start;
}

.home-screen__section:nth-child(2n){
  color: white;
  background-color: #549ae1;
  outline-offset: -11px;
  outline: 6px double white;
}

.play-button {
  font-family: 'Russo One', sans-serif;
  width: 150px;
  height: 70px;
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  outline: none;
  border: none;
} 
.play-button:hover { background: rgb(232,95,76); }
.play-button:active { background: rgb(152,15,0); }

.color-text-fragment {
  color: #549ae1;
}

.home-screen__screenshot-section__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.home-screen__screenshot-section__screenshot {
  width: 40%;
  margin: 15px;
}

.home-screen__credits-section__wrapper{
  display: flex;
  flex-direction: row;
  
  align-items: flex-start;
}

.home-screen__credits-section__author {
  width: 200px;
  height: auto;
  margin: 15px;
}



 @media (max-width: 600px) {
  .home-screen{
    font-size: 15px;
  }
}

