@import url('https://fonts.googleapis.com/css?family=Aldrich');
.action-dialog-screen *, .action-dialog-screen {
  box-sizing: border-box;
}

.action-dialog-screen{
  font-family: 'Aldrich', sans-serif;
  color: white;
  padding: 5px;
  max-width: 600px;
  max-height: 600px;
  font-size: 20px;
  background: #549ae1;
  position: absolute;
  top:50% ; left:50%;
  transform: translate(-50%, -50%);
}

.action-dialog-screen__section {
  border: 6px double white;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.action-dialog-screen__section-text{
  margin: 10px;
  align-self: flex-start;
}

.action-dialog-screen__button {
  width: 150px;
  height: 60px;
  color: #fff;
  margin: 15px;
  font-family: 'Aldrich', sans-serif;
  font-size: 1em;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  outline: none;
  border: none;
  display: block;
  border: 6px double white;
} 

.action-dialog-screen__button:hover { background: rgb(232,95,76); }
.action-dialog-screen__button:active { background: rgb(152,15,0); }